<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Daily Jurnal</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-light px-5">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">DAILY JOURNAL</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">ABOUT US</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">CONTACT US</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="content">
		<div class="container mt-3">
			<h1>Home</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque felis imperdiet proin fermentum leo. Amet mattis vulputate enim nulla. Magna sit amet purus gravida. Pretium vulputate sapien nec sagittis aliquam malesuada. Vulputate odio ut enim blandit volutpat maecenas. Iaculis at erat pellentesque adipiscing commodo elit. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Diam maecenas sed enim ut sem viverra aliquet. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum. Ornare suspendisse sed nisi lacus sed viverra tellus in hac. Dolor morbi non arcu risus quis varius. Sit amet nulla facilisi morbi tempus iaculis urna.</p>
		</div>
	</div>
	<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
		<div class="col-md-4 d-flex align-items-center">
			<a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
				<svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
			</a>
			<span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
		</div>

		<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
			<li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
			<li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
			<li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
		</ul>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>